In [1]:
#딕셔너리 -> 시리즈 변환: pandas.Seires(딕셔너리)
import pandas as pd

dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [2]:
import pandas as pandas
list_data = ['2019-01-02',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [3]:
idx = sr.index
val = sr.values
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

In [4]:
#튜플을 시리즈로 변환(인덱스 옵션 지정)
import pandas as pandas
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['name','birth','sex','stu_bool'])
print(sr)

name                영인
birth       2010-05-01
sex                  여
stu_bool          True
dtype: object

In [5]:
print(sr[0])
print(sr['name'])

영인
영인

In [7]:
print(sr[[1,3]])
print(sr[['birth','sex']])

birth       2010-05-01
stu_bool          True
dtype: object
birth    2010-05-01
sex               여
dtype: object

In [8]:
#정수형 위치 인덱스는 마지막 값을 포함하지 않지만 인덱스 이름은 포함
print(sr[1:2])
print(sr['birth':'sex'])

birth    2010-05-01
dtype: object
birth    2010-05-01
sex               여
dtype: object

In [9]:
import pandas as pd

dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [11]:
import pandas as pd

df = pd.DataFrame([[15,'man','DY'],[17,'Female','SR']],index=['js','ye'],columns=['age','sex','school'])

print(df)
print(df.index)
print(df.columns)

#리스트가 행으로 변환 ( 딕셔너리와의 차이 )

    age     sex school
js   15     man     DY
ye   17  Female     SR
Index(['js', 'ye'], dtype='object')
Index(['age', 'sex', 'school'], dtype='object')

In [13]:
df.index = ['stu1','stu2']
df.columns = ['a','b','c']
print(df)
print(df.index)
print(df.columns)

       a       b   c
stu1  15     man  DY
stu2  17  Female  SR
Index(['stu1', 'stu2'], dtype='object')
Index(['a', 'b', 'c'], dtype='object')

In [15]:
import pandas as pd

df = pd.DataFrame([[15,'m','D'],[17,'f','S']],index=['J','Y'],columns=['a','b','c'])

print(df)

df.rename(columns={'a':'aa', 'b':'bb', 'c':'cc'}, inplace=True)
df.rename(index={'J':'S1', 'Y':'S2'},inplace=True)
print(df)

#inplace 가 true 면 원본이 수정됨

    a  b  c
J  15  m  D
Y  17  f  S
    aa bb cc
S1  15  m  D
S2  17  f  S

In [18]:
#행/열 삭제
 #행 삭제 axis=0 또는 공백
 #열 삭제 axis=1
 #여러개 삭제 원하면 리스트 형태로 입력

import pandas as pd

exam_data = {'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}

df = pd.DataFrame(exam_data, index = ['s','u','i'])
print(df)

df2 = df[:]
df2.drop('u', inplace=True)
print(df2)

df3 = df[:]
df3.drop(['u','i'], axis=0, inplace=True)
print(df3)

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90
i    70   95    100    90
   math  eng  music  phys
s    90   98     85   100
i    70   95    100    90
   math  eng  music  phys
s    90   98     85   100
/Users/inwon/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/inwon/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
df4 = df[:]
df4.drop('math',axis=1,inplace=True)

print(df4)

df5 = df[:]
df5.drop(['eng','music'],axis=1,inplace=True)

print(df5)

   eng  music  phys
s   98     85   100
u   89     95    90
i   95    100    90
   math  phys
s    90   100
u    80    90
i    70    90
/Users/inwon/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/inwon/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/pandas/core/frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
#행 선택
#인덱스 이름 사용할 때는 loc, 정수형 위치 인덱스를 사용할 때는 iloc
print(df,'\n')

label1 = df.loc['s']
position1 = df.iloc[0]
print(label1,'\n')
print(position1)

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90
i    70   95    100    90

math      90
eng       98
music     85
phys     100
Name: s, dtype: int64

math      90
eng       98
music     85
phys     100
Name: s, dtype: int64

In [25]:
print(df,'\n')

label2 = df.loc[['s','u']]
position2 = df.iloc[[0,1]]
print(label2,'\n')
print(position2)

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90
i    70   95    100    90

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90

In [26]:
print(df,'\n')

label3 = df.loc['s':'u']
position3 = df.iloc[0:1]
print(label3,'\n')
print(position3)

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90
i    70   95    100    90

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90

   math  eng  music  phys
s    90   98     85   100

In [27]:
#열 선택
print(df)
print(type(df),'\n')

math1 = df['math']
print(math1)
print(type(math1),'\n')

english = df.eng
print(english)
print(type(english))

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90
i    70   95    100    90
<class 'pandas.core.frame.DataFrame'>

s    90
u    80
i    70
Name: math, dtype: int64
<class 'pandas.core.series.Series'>

s    98
u    89
i    95
Name: eng, dtype: int64
<class 'pandas.core.series.Series'>

In [28]:
print(df,'\n')

music_gym = df[['music', 'phys']]
print(music_gym)
print(type(music_gym))
print('\n')

math2 = df[['math']]
print(math2)
print(type(math2))

   math  eng  music  phys
s    90   98     85   100
u    80   89     95    90
i    70   95    100    90

   music  phys
s     85   100
u     95    90
i    100    90
<class 'pandas.core.frame.DataFrame'>


   math
s    90
u    80
i    70
<class 'pandas.core.frame.DataFrame'>

In [29]:
df.iloc[::2]
#iloc[start:end:간격]

   math  eng  music  phys
s    90   98     85   100
i    70   95    100    90

In [30]:
df.iloc[0:3:2]

   math  eng  music  phys
s    90   98     85   100
i    70   95    100    90

In [31]:
df.iloc[::-1]
#역순으로 인덱싱

   math  eng  music  phys
i    70   95    100    90
u    80   89     95    90
s    90   98     85   100

In [35]:
#원소 선택
exam_data = {'name' : ['s','u','i'],'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}
df = pd.DataFrame(exam_data)

df.set_index('name', inplace=True)
print(df)

      math  eng  music  phys
name
s       90   98     85   100
u       80   89     95    90
i       70   95    100    90

In [36]:
a = df.loc['s','music']
print(a)
b = df.iloc[0,2]
print(b)

85
85

In [39]:
c = df.loc['s',['music','phys']]
print(c)
d = df.iloc[0,[2,3]]
print(d)
e = df.loc['s','music':'phys']
print(e)
f = df.iloc[0,2:]
print(f)

music     85
phys     100
Name: s, dtype: int64
music     85
phys     100
Name: s, dtype: int64
music     85
phys     100
Name: s, dtype: int64
music     85
phys     100
Name: s, dtype: int64

In [40]:
g = df.loc[['s','u'],['music','phys']]
print(g)
h = df.iloc[[0,1],[2,3]]
print(h)
i = df.loc['s':'u', 'music':'phys']
print(i)
j = df.iloc[0:2, 2:]
print(j)

      music  phys
name
s        85   100
u        95    90
      music  phys
name
s        85   100
u        95    90
      music  phys
name
s        85   100
u        95    90
      music  phys
name
s        85   100
u        95    90

In [41]:
#열 추가
exam_data = {'name' : ['s','u','i'],'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}

df = pd.DataFrame(exam_data)
print(df,'\n')

df['kor']=80
print(df)

  name  math  eng  music  phys
0    s    90   98     85   100
1    u    80   89     95    90
2    i    70   95    100    90

  name  math  eng  music  phys  kor
0    s    90   98     85   100   80
1    u    80   89     95    90   80
2    i    70   95    100    90   80

In [42]:
#행 추가
exam_data = {'name' : ['s','u','i'],'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}

df = pd.DataFrame(exam_data)
print(df,'\n')

df.loc[3] = 0
print(df,'\n')

df.loc[4] = ['d',90,80,70,60]
print(df,'\n')

df.loc['5row'] = df.loc[3]
print(df)

  name  math  eng  music  phys
0    s    90   98     85   100
1    u    80   89     95    90
2    i    70   95    100    90

  name  math  eng  music  phys
0    s    90   98     85   100
1    u    80   89     95    90
2    i    70   95    100    90
3    0     0    0      0     0

  name  math  eng  music  phys
0    s    90   98     85   100
1    u    80   89     95    90
2    i    70   95    100    90
3    0     0    0      0     0
4    d    90   80     70    60

     name  math  eng  music  phys
0       s    90   98     85   100
1       u    80   89     95    90
2       i    70   95    100    90
3       0     0    0      0     0
4       d    90   80     70    60
5row    0     0    0      0     0

In [43]:
#원소 값 변경
exam_data = {'name' : ['s','u','i'],'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}

df = pd.DataFrame(exam_data)

df.set_index('name', inplace=True)
print(df,'\n')

df.iloc[0][3] = 80
print(df,'\n')

df.loc['s']['phys'] = 90
print(df,'\n')

df.loc['s','phys'] = 100
print(df)

      math  eng  music  phys
name
s       90   98     85   100
u       80   89     95    90
i       70   95    100    90

      math  eng  music  phys
name
s       90   98     85    80
u       80   89     95    90
i       70   95    100    90

      math  eng  music  phys
name
s       90   98     85    90
u       80   89     95    90
i       70   95    100    90

      math  eng  music  phys
name
s       90   98     85   100
u       80   89     95    90
i       70   95    100    90

In [44]:
df.loc['s',['music','phys']] = 50
print(df,'\n')

df.loc['s',['music','phys']] = 100,50
print(df)

      math  eng  music  phys
name
s       90   98     50    50
u       80   89     95    90
i       70   95    100    90

      math  eng  music  phys
name
s       90   98    100    50
u       80   89     95    90
i       70   95    100    90

In [45]:
exam_data = {'name' : ['s','u','i'],'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}

df = pd.DataFrame(exam_data)
print(df,'\n')

df = df.transpose()
print(df,'\n')

df = df.T
print(df)

  name  math  eng  music  phys
0    s    90   98     85   100
1    u    80   89     95    90
2    i    70   95    100    90

         0   1    2
name     s   u    i
math    90  80   70
eng     98  89   95
music   85  95  100
phys   100  90   90

  name math eng music phys
0    s   90  98    85  100
1    u   80  89    95   90
2    i   70  95   100   90

In [46]:
exam_data = {'name' : ['s','u','i'],'math' : [90,80,70], 'eng' : [98,89,95], 'music' : [85,95,100], 'phys' : [100,90,90]}

df = pd.DataFrame(exam_data)
print(df,'\n')

ndf = df.set_index(['name'])
print(ndf)
print('\n')

ndf2 = ndf.set_index('music')
print(ndf2)
print('\n')

ndf3 = ndf.set_index(['math', 'music'])
print(ndf3)

  name  math  eng  music  phys
0    s    90   98     85   100
1    u    80   89     95    90
2    i    70   95    100    90

      math  eng  music  phys
name
s       90   98     85   100
u       80   89     95    90
i       70   95    100    90


       math  eng  phys
music
85       90   98   100
95       80   89    90
100      70   95    90


            eng  phys
math music
90   85      98   100
80   95      89    90
70   100     95    90

In [47]:
#행 인덱스 재배열
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value = 0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [49]:
#행 인덱스 초기화
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df,'\n')

ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15